* {
    margin: 0;
}
/* BOARD CSS */
#board-container {
    display: grid;
    min-width: 1280px;
    min-height: 598px;
    height: 100vh;
    grid-template-rows: 2% 1fr 20%;
    background-color: coral;
}

#center-board {
    grid-row-start: 2;
    background-color: rgba(129, 190, 68, 0.8);

    display: grid;
}

#start-btn {
    grid-area: 25 / 65 / span 10 / span 20;
    background-color: rgb(92, 87, 155);
    font-size: 35px;
    font-family: Helvetica, sans-serif;
}

#player-one-card {
    background-color: white;
    grid-column-start: 3;
    grid-column-end: 29;
    grid-row-start: 2;
    grid-row-end: 48;
}

#player-two-card {
    background-color: white;
    grid-area: 36 / 173 / span 46 / span 26;
}

#player1 {
    width: 30px;
    height: 30px;
    background-color: aquamarine;
}

#dice {
    grid-area: 40 / 60 / span 20 / span 30;
}

#player2 {
    width: 30px;
    height: 30px;
    background-color: orange;
}

#enable-dice {
    grid-area: 40 / 60 / span 20 / span 30;
    background-color: burlywood;
}

#enable-dice:hover {
    background-color: rgb(221, 169, 101);
}

h2 {
    font-family: Helvetica, sans-serif;
    background-color: peru;
}

/* INTERACTION BOARD CSS */


#interactions-container {
    grid-row-start: 3 ;
    display: block;
    background-color: slategrey;
    width: 80%;
    justify-self: center;
}

.int-buttons {
    width: 10%;
    height: 20%;
    display: block;
    background-color: rgb(22, 172, 72);
    border-radius: 5px;

    margin: 0.5%;
}