* {
    margin: 0;
}
/* 
    #0C0032
    #190061
    #240090
    #3500D3
    #282828
*/
/* BOARD CSS */
#board-container {
    display: grid;
    min-width: 1280px;
    min-height: 598px;
    height: 100vh;
    grid-template-rows: 2% 1fr 20%;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/151/596/non_2x/vector-light-abstract-technology-background.png);
}

#center-board {
    grid-row-start: 2;

    display: grid;
}

#start-btn {
    grid-area: 25 / 65 / span 10 / span 20;
    background-color:#222629;
    font-size: 35px;
    font-family: Helvetica, sans-serif;
    border: 1px #86C232 solid;
    color: #86C232;
}

#player-one-card {
    background-color: #222629;
    grid-column-start: 3;
    grid-column-end: 29;
    grid-row-start: 2;
    grid-row-end: 48;
    border-radius: 30px 0px 0px 0px;
    border: 1px #86C232 solid
}

#player-two-card {
    background-color: #222629;
    grid-area: 36 / 173 / span 46 / span 26;
    border-radius: 0px 0px 30px 0px;
    border: 1px #86C232 solid;
}

#player2 {
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    z-index: 2;
    position: relative;
    display: inline-block;
    margin: 0;
    border-radius: 100%;
}

#dice {
    grid-area: 40 / 60 / span 20 / span 30;
}

#player3 {
    width: 30px;
    height: 30px;
    background-color: orange;
    z-index: 2;
    position: relative;
    display: inline-block;
    margin: 0;
    border-radius: 100%;
    
}

#enable-dice {
    grid-area: 40 / 60 / span 20 / span 30;
    background-color: #61892F;
}

#enable-dice:hover {
    background-color: #86C232;
}


#dice-number{
    font-family: Helvetica, sans-serif;
}

/* INTERACTION BOARD CSS */


#interactions-container {
    grid-row-start: 3 ;
    display: block;
    background-color: #222629;
    width: 80%;
    justify-self: center;
    border-top: 5px #86C232 solid;
    border-right: 5px #86C232 solid;
    border-left: 5px #86C232 solid;
    border-radius: 20px 20px 0px 0px;
}

.int-buttons {
    width: 10%;
    height: 20%;
    display: inline-block;
    background-color: rgb(22, 172, 72);
    border-radius: 5px;

    margin: 0.5%;
}

h2 {
    position: relative;
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
}

p {
    font-family: monospace;
    font-size: 9pt;
}





