* {
    margin: 0;
}

#board-container {
    display: grid;
    min-width: 1280px;
    min-height: 598px;
    height: 100vh;
    grid-template-rows: 2% 1fr 20%;
    background-color: coral;
}

#center-board {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    background-color: rgba(129, 190, 68, 0.8);

    display: grid;
}

#start-btn {
    grid-area: 25 / 65 / span 10 / span 20;
    background-color: rgb(92, 87, 155);
    font-size: 35px;
    font-family: Helvetica, sans-serif;
}

#player-one-card {
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 18;
}

#dice {
    grid-area: 40 / 60 / span 20 / span 30;
    background-color: lightcoral;
}

#dice:hover {
    background-color: rgb(235, 84, 84);;
}

#dice h2 {
    font-size: 40px;
    font-family: Helvetica;
}

#player1 {
    width: 30px;
    height: 30px;
    background-color: aqua;
}

#player2 {
    width: 30px;
    height: 30px;
    background-color: orange;
}
